This notebook contains all the data cleaning steps required for the project

In [1]:
#all necessary imports 
import pandas as pd
import numpy as np

In [2]:
#reading all files from google drive, storing their file ids
file_id_train_benificiary = "1L_OymoSejd1S22Y88Mg14KsU_Bb7ce3i"
file_id_train_inpatient   = "1mMJJwlVNeiMiMshmZQsKAa55gdn5DVNY"
file_id_train_outpatient = "1qUtCDWkvWxbQNtxZ8M7cpyrx0eBcr8AD"
file_id_train_labels = "1S2bLo9T6ACQwAMkYyqXvB-L69C237oLI"

In [3]:
#reading benificary data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={file_id_train_benificiary}"

df_train_benificary = pd.read_csv(download_url)

df_train_benificary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [4]:
#reading inpatient data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={file_id_train_inpatient}"

df_train_inpatient = pd.read_csv(download_url)

df_train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [5]:
#reading outpatient data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={file_id_train_outpatient}"

df_train_outpatient = pd.read_csv(download_url)

df_train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [6]:
#reading labelled train  data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={file_id_train_labels}"

df_train_label = pd.read_csv(download_url)

df_train_label.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [7]:
print("Benificary Dataset size: ",df_train_benificary.shape)
print("Inpatient Dataset size: ",df_train_inpatient.shape)
print("Outpatient Dataset size: ",df_train_outpatient.shape)
print("Labelled Dataset size: ",df_train_label.shape)

Benificary Dataset size:  (138556, 25)
Inpatient Dataset size:  (40474, 30)
Outpatient Dataset size:  (517737, 27)
Labelled Dataset size:  (5410, 2)

# Column transformations for Benificary Dataset

In [8]:
df_train_benificary.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [9]:
df_train_benificary.describe()

,Gender,Race,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
count,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,...,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000
mean,1.570932,1.254511,25.666734,374.424745,11.907727,11.910145,1.667817,1.506322,1.687643,1.880041,...,1.644476,1.398142,1.324143,1.725317,1.743180,1.920942,3660.346502,399.847296,1298.219348,377.718258
std,0.494945,0.717007,15.223443,266.277581,1.032332,0.936893,0.470998,0.499962,0.463456,0.324914,...,0.478674,0.489517,0.468056,0.446356,0.436881,0.269831,9568.621827,956.175202,2493.901134,645.530187
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-8000.000000,0.000000,-70.000000,0.000000
25%,1.000000,1.000000,11.000000,141.000000,12.000000,12.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,170.000000,40.000000
50%,2.000000,1.000000,25.000000,340.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,0.000000,0.000000,570.000000,170.000000
75%,2.000000,1.000000,39.000000,570.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2280.000000,1068.000000,1500.000000,460.000000
max,2.000000,5.000000,54.000000,999.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,161470.000000,38272.000000,102960.000000,13840.000000

In [10]:
#Replacing 2 with 0 for chronic conditions, 0 indicates no chronic condition , 1 -> yes for chronic conditions
df_train_benificary = df_train_benificary.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2, 'ChronicCond_KidneyDisease': 2,
                           'ChronicCond_Cancer': 2, 'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2,
                           'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 'ChronicCond_Osteoporasis': 2,
                           'ChronicCond_rheumatoidarthritis': 2, 'ChronicCond_stroke': 2 }, 0)

In [11]:
df_train_benificary.RenalDiseaseIndicator.value_counts()

RenalDiseaseIndicator
0    118978
Y     19578
Name: count, dtype: int64

In [12]:
#in the RenalDiseaseIndicator , replacing Y with 1
df_train_benificary = df_train_benificary.replace({'RenalDiseaseIndicator':'Y'},1)

In [13]:
df_train_benificary.RenalDiseaseIndicator.value_counts()

RenalDiseaseIndicator
0    118978
1     19578
Name: count, dtype: int64

In [14]:
#converting the above columns to numeric types
df_train_benificary[["ChronicCond_Alzheimer", "ChronicCond_Heartfailure", "ChronicCond_KidneyDisease", "ChronicCond_Cancer", 
                     "ChronicCond_ObstrPulmonary", "ChronicCond_Depression", "ChronicCond_Diabetes", "ChronicCond_IschemicHeart", 
                     "ChronicCond_Osteoporasis", "ChronicCond_rheumatoidarthritis", "ChronicCond_stroke", 
                     "RenalDiseaseIndicator"]].apply(pd.to_numeric)

,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,RenalDiseaseIndicator
0,1,0,1,0,0,1,1,1,0,1,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,0,0
3,1,1,0,0,0,0,1,1,1,1,0,0
4,0,0,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
138551,1,0,0,0,0,0,0,0,0,0,0,0
138552,1,0,0,0,0,0,1,0,0,0,0,0
138553,0,1,1,1,0,1,1,1,0,0,0,0
138554,1,1,0,0,0,0,0,1,0,0,0,0
138555,1,1,0,0,0,1,1,0,0,1,0,0

In [15]:
df_train_benificary.dtypes

BeneID                             object
DOB                                object
DOD                                object
Gender                              int64
Race                                int64
RenalDiseaseIndicator              object
State                               int64
County                              int64
NoOfMonths_PartACov                 int64
NoOfMonths_PartBCov                 int64
ChronicCond_Alzheimer               int64
ChronicCond_Heartfailure            int64
ChronicCond_KidneyDisease           int64
ChronicCond_Cancer                  int64
ChronicCond_ObstrPulmonary          int64
ChronicCond_Depression              int64
ChronicCond_Diabetes                int64
ChronicCond_IschemicHeart           int64
ChronicCond_Osteoporasis            int64
ChronicCond_rheumatoidarthritis     int64
ChronicCond_stroke                  int64
IPAnnualReimbursementAmt            int64
IPAnnualDeductibleAmt               int64
OPAnnualReimbursementAmt            int64
OPAnnualDeductibleAmt               int64
dtype: object

In [16]:
df_train_benificary.DOB

0         1943-01-01
1         1936-09-01
2         1936-08-01
3         1922-07-01
4         1935-09-01
             ...
138551    1939-07-01
138552    1938-12-01
138553    1916-06-01
138554    1930-01-01
138555    1952-04-01
Name: DOB, Length: 138556, dtype: object

In [17]:
#converting the DOB , DOB columns to datetype
df_train_benificary['DOB'] = pd.to_datetime(df_train_benificary['DOB'])
df_train_benificary['DOD'] = pd.to_datetime(df_train_benificary['DOD'])

In [18]:
df_train_benificary.dtypes

BeneID                                     object
DOB                                datetime64[ns]
DOD                                datetime64[ns]
Gender                                      int64
Race                                        int64
RenalDiseaseIndicator                      object
State                                       int64
County                                      int64
NoOfMonths_PartACov                         int64
NoOfMonths_PartBCov                         int64
ChronicCond_Alzheimer                       int64
ChronicCond_Heartfailure                    int64
ChronicCond_KidneyDisease                   int64
ChronicCond_Cancer                          int64
ChronicCond_ObstrPulmonary                  int64
ChronicCond_Depression                      int64
ChronicCond_Diabetes                        int64
ChronicCond_IschemicHeart                   int64
ChronicCond_Osteoporasis                    int64
ChronicCond_rheumatoidarthritis             int64
ChronicCond_stroke                          int64
IPAnnualReimbursementAmt                    int64
IPAnnualDeductibleAmt                       int64
OPAnnualReimbursementAmt                    int64
OPAnnualDeductibleAmt                       int64
dtype: object

# Column transformation for Inpatient and Outpatient datasets

In [19]:
df_train_inpatient

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40469,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,PHY345332,PHY319565,NaN,2009-09-28,...,79092,70704,2869,4148,9904.0,NaN,NaN,NaN,NaN,NaN
40470,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,PHY342806,PHY365497,NaN,2009-11-03,...,49122,4254,5990,NaN,8605.0,NaN,NaN,NaN,NaN,NaN
40471,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,PHY423220,PHY332752,NaN,2009-11-18,...,71534,71590,V4502,NaN,9390.0,NaN,NaN,NaN,NaN,NaN
40472,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,PHY353156,NaN,NaN,2009-12-17,...,4263,0414,41400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40473,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,PHY431177,PHY352941,NaN,2009-09-28,...,4019,2800,27801,NaN,1733.0,NaN,NaN,NaN,NaN,NaN

In [20]:
df_train_inpatient.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
dtype: object

In [21]:
#converting the claimStartDt, claimEndDt from object to date type in both dfs

#inpatient df
df_train_inpatient['ClaimStartDt'] = pd.to_datetime(df_train_inpatient['ClaimStartDt'])
df_train_inpatient['ClaimEndDt'] = pd.to_datetime(df_train_inpatient['ClaimEndDt'])

#outpatientdf
df_train_outpatient['ClaimStartDt'] = pd.to_datetime(df_train_outpatient['ClaimStartDt'])
df_train_outpatient['ClaimEndDt'] = pd.to_datetime(df_train_outpatient['ClaimEndDt'])

In [22]:
#converting AdmissionDt,DischargeDt from object to Datetype in inpatientdf
df_train_inpatient['AdmissionDt']=pd.to_datetime(df_train_inpatient['AdmissionDt'])
df_train_inpatient['DischargeDt']=pd.to_datetime(df_train_inpatient['DischargeDt'])

# Deriving new calculated columns in inpatient, outpatient and benificary datasets

In [23]:
#Calculate Claim_period
df_train_inpatient['Claim_Period'] = ((df_train_inpatient['ClaimEndDt'] - df_train_inpatient['ClaimStartDt']).dt.days)+1

In [24]:
#hostipilization Duration
df_train_inpatient['Hospitalization_Duration'] = ((df_train_inpatient['DischargeDt'] - df_train_inpatient['AdmissionDt']).dt.days)+1

In [25]:
# derive month and year of claim start and claim end
df_train_inpatient['ClaimStart_Year'] = df_train_inpatient['ClaimStartDt'].dt.year
df_train_inpatient['ClaimStart_Month'] = df_train_inpatient['ClaimStartDt'].dt.month

df_train_inpatient['ClaimEnd_Year'] = df_train_inpatient['ClaimEndDt'].dt.year
df_train_inpatient['ClaimEnd_Month'] = df_train_inpatient['ClaimEndDt'].dt.month

In [26]:
# Calculate patient's age as of death
df_train_benificary['Patient_Age'] = round(((df_train_benificary['DOD'] - df_train_benificary['DOB']).dt.days) / 365)

# For alive patients (no DOD), calculate age as of 2025-06-05 and assign to missing values
df_train_benificary['Patient_Age'] = df_train_benificary['Patient_Age'].fillna(round(((pd.to_datetime('2025-06-05', format='%Y-%m-%d') - df_train_benificary['DOB']).dt.days) / 365))

In [27]:
df_train_benificary['Patient_Age']

0          82.0
1          89.0
2          89.0
3         103.0
4          90.0
          ...
138551     86.0
138552     87.0
138553    109.0
138554     95.0
138555     73.0
Name: Patient_Age, Length: 138556, dtype: float64

In [28]:
# derive the birth year and birth month from DOB in beneficary
df_train_benificary['Birth_Year'] = df_train_benificary['DOB'].dt.year
df_train_benificary['Birth_Month'] = df_train_benificary['DOB'].dt.month

In [29]:
#create a new column isDead for benificaries
df_train_benificary['isDead'] = 0
df_train_benificary.loc[df_train_benificary.DOD.notna(), 'isDead'] = 1

In [30]:
# getting the claim start and end year,month for outpatients
df_train_outpatient['ClaimStart_Year'] = df_train_outpatient['ClaimStartDt'].dt.year
df_train_outpatient['ClaimStart_Month'] = df_train_outpatient['ClaimStartDt'].dt.month

df_train_outpatient['ClaimEnd_Year'] = df_train_outpatient['ClaimEndDt'].dt.year
df_train_outpatient['ClaimEnd_Month'] = df_train_outpatient['ClaimEndDt'].dt.month

# Calculate Claim_Period = ClaimEndDt - ClaimStartDt
df_train_outpatient['Claim_Period'] = ((df_train_outpatient['ClaimEndDt'] - df_train_outpatient['ClaimStartDt']).dt.days)+1

# Create a new column Inpatient_or_Outpatient where Inpatient =1 and Outpatient = 0
df_train_inpatient['Inpatient_or_Outpatient'] = 1
df_train_outpatient['Inpatient_or_Outpatient'] = 0

In [31]:
print('Benificary dataset size after column transformation: ',df_train_benificary.shape)
print('Inpatient dataset size after column transformation: ',df_train_inpatient.shape)
print('Outpatient dataset size after column transformation: ',df_train_outpatient.shape)

Benificary dataset size after column transformation:  (138556, 29)
Inpatient dataset size after column transformation:  (40474, 37)
Outpatient dataset size after column transformation:  (517737, 33)

# Merging all Datasets to create a one single Training Dataset

1. Merge inpatient and outpatient based on common columns

In [32]:
common_cols = []
cols_in = df_train_inpatient.columns
for col in df_train_outpatient.columns:
    if col in cols_in:
        common_cols.append(col)

inpatient_outpatient_merged = pd.merge(df_train_inpatient, df_train_outpatient,
                                       left_on = common_cols, 
                                       right_on = common_cols,
                                       how = 'outer')

In [33]:
inpatient_outpatient_merged.shape

(558211, 37)

In [34]:
inpatient_outpatient_merged.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Claim_Period,Hospitalization_Duration,ClaimStart_Year,ClaimStart_Month,ClaimEnd_Year,ClaimEnd_Month,Inpatient_or_Outpatient
0,BENE100000,CLM126832,2009-01-08,2009-01-08,PRV57172,50,PHY383401,NaN,NaN,NaT,...,NaN,NaN,NaN,1,NaN,2009,1,2009,1,0
1,BENE100000,CLM351838,2009-05-10,2009-05-10,PRV57172,70,PHY370909,NaN,PHY363377,NaT,...,NaN,NaN,NaN,1,NaN,2009,5,2009,5,0
2,BENE100001,CLM229075,2009-03-05,2009-03-05,PRV55158,70,PHY383478,NaN,NaN,NaT,...,NaN,NaN,NaN,1,NaN,2009,3,2009,3,0
3,BENE100001,CLM258631,2009-03-21,2009-03-21,PRV54966,70,PHY347511,NaN,NaN,NaT,...,NaN,NaN,NaN,1,NaN,2009,3,2009,3,0
4,BENE100001,CLM332544,2009-04-30,2009-05-02,PRV54890,90,PHY343317,PHY408367,PHY408367,NaT,...,NaN,NaN,NaN,3,NaN,2009,4,2009,5,0

In [35]:
inpatient_outpatient_merged.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'ClaimStart_Year', 'ClaimStart_Month', 'ClaimEnd_Year',
       'ClaimEnd_Month', 'Inpatient_or_Outpatient'],
      dtype='object')

2. Merge 'inpatient_outpatient_merge' with benificary dataset

In [36]:
#merge inpatient_outpatient_merged with df_train_benificary on BeneID column
inpatient_outpatient_benificary_merge = pd.merge(inpatient_outpatient_merged, df_train_benificary,
                                       left_on = 'BeneID', 
                                       right_on = 'BeneID',
                                       how = 'inner')

In [37]:
inpatient_outpatient_benificary_merge.shape

(558211, 65)

3. Merge 'inpatient_outpatient_benificary_merge' with df_train_labels dataset

In [38]:
final_df = pd.merge(
    inpatient_outpatient_benificary_merge,df_train_label,
    on="Provider",
    how="inner"
)

In [39]:
final_df.shape

(558211, 66)

In [40]:
final_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead,PotentialFraud
0,BENE100000,CLM126832,2009-01-08,2009-01-08,PRV57172,50,PHY383401,NaN,NaN,NaT,...,0,0,0,120,30,87.0,1938,3,0,Yes
1,BENE100000,CLM351838,2009-05-10,2009-05-10,PRV57172,70,PHY370909,NaN,PHY363377,NaT,...,0,0,0,120,30,87.0,1938,3,0,Yes
2,BENE100001,CLM229075,2009-03-05,2009-03-05,PRV55158,70,PHY383478,NaN,NaN,NaT,...,1,0,0,2530,540,86.0,1939,8,0,No
3,BENE100001,CLM258631,2009-03-21,2009-03-21,PRV54966,70,PHY347511,NaN,NaN,NaT,...,1,0,0,2530,540,86.0,1939,8,0,Yes
4,BENE100001,CLM332544,2009-04-30,2009-05-02,PRV54890,90,PHY343317,PHY408367,PHY408367,NaT,...,1,0,0,2530,540,86.0,1939,8,0,No

In [41]:
final_df.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'ClaimStart_Year', 'ClaimStart_Month', 'ClaimEnd_Year',
       'ClaimEnd_Month', 'Inpatient_or_Outpatient', 'DOB', 'DOD', 'Gender',
       'Race', 'RenalDiseaseIndicator', 'State', 'County',
       'NoOfMonths_PartACov', 'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Patient_Age',
       'Birth_Year', 'Birth_Month', 'isDead', 'PotentialFraud'],
      dtype='object')

# Data cleaning

In [42]:
final_df.shape

(558211, 66)

In [43]:
final_df.describe()

,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead
count,558211,558211,558211.000000,40474,557312.000000,40474,23310.000000,5490.000000,969.000000,118.000000,...,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000,558211.000000
mean,2009-06-24 23:39:21.603766016,2009-06-26 17:07:35.601914368,997.012133,2009-06-19 17:38:12.493946368,78.421085,2009-06-25 09:36:02.988585216,5896.154612,4106.358106,4221.123839,4070.262712,...,0.311171,0.101720,5227.971466,568.756807,2278.225348,649.698745,89.163564,1935.723180,6.533891,0.007400
min,2008-11-27 00:00:00,2008-12-28 00:00:00,0.000000,2008-11-27 00:00:00,0.000000,2009-01-01 00:00:00,11.000000,42.000000,42.000000,42.000000,...,0.000000,0.000000,-8000.000000,0.000000,-70.000000,0.000000,36.000000,1909.000000,1.000000,0.000000
25%,2009-03-27 00:00:00,2009-03-29 00:00:00,40.000000,2009-03-20 00:00:00,0.000000,2009-03-26 00:00:00,3848.000000,2724.000000,2724.000000,2754.250000,...,0.000000,0.000000,0.000000,0.000000,460.000000,120.000000,83.000000,1927.000000,4.000000,0.000000
50%,2009-06-23 00:00:00,2009-06-24 00:00:00,80.000000,2009-06-16 00:00:00,0.000000,2009-06-22 00:00:00,5363.000000,4019.000000,4019.000000,4019.000000,...,0.000000,0.000000,0.000000,0.000000,1170.000000,340.000000,90.000000,1935.000000,7.000000,0.000000
75%,2009-09-22 00:00:00,2009-09-23 00:00:00,300.000000,2009-09-17 00:00:00,0.000000,2009-09-23 00:00:00,8669.000000,4439.000000,5185.000000,4439.000000,...,1.000000,0.000000,6000.000000,1068.000000,2590.000000,790.000000,98.000000,1941.000000,10.000000,0.000000
max,2009-12-31 00:00:00,2009-12-31 00:00:00,125000.000000,2009-12-31 00:00:00,1068.000000,2009-12-31 00:00:00,9999.000000,9999.000000,9999.000000,9986.000000,...,1.000000,1.000000,161470.000000,38272.000000,102960.000000,13840.000000,117.000000,1983.000000,12.000000,1.000000
std,NaN,NaN,3821.534891,NaN,274.016812,NaN,3050.489933,2031.640878,2281.849885,2037.626990,...,0.462973,0.302279,11786.274732,1179.172616,3881.846386,1002.020811,13.077626,13.011761,3.455427,0.085707

In [44]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558211 entries, 0 to 558210
Data columns (total 66 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           558211 non-null  object
 1   ClaimID                          558211 non-null  object
 2   ClaimStartDt                     558211 non-null  datetime64[ns]
 3   ClaimEndDt                       558211 non-null  datetime64[ns]
 4   Provider                         558211 non-null  object
 5   InscClaimAmtReimbursed           558211 non-null  int64
 6   AttendingPhysician               556703 non-null  object
 7   OperatingPhysician               114447 non-null  object
 8   OtherPhysician                   199736 non-null  object
 9   AdmissionDt                      40474 non-null   datetime64[ns]
 10  ClmAdmitDiagnosisCode            145899 non-null  object
 11  DeductibleAmtPaid                557312 non-null  float64
 12  DischargeDt                      40474 non-null   datetime64[ns]
 13  DiagnosisGroupCode               40474 non-null   object
 14  ClmDiagnosisCode_1               547758 non-null  object
 15  ClmDiagnosisCode_2               362605 non-null  object
 16  ClmDiagnosisCode_3               243055 non-null  object
 17  ClmDiagnosisCode_4               164536 non-null  object
 18  ClmDiagnosisCode_5               111924 non-null  object
 19  ClmDiagnosisCode_6               84392 non-null   object
 20  ClmDiagnosisCode_7               66177 non-null   object
 21  ClmDiagnosisCode_8               53444 non-null   object
 22  ClmDiagnosisCode_9               41815 non-null   object
 23  ClmDiagnosisCode_10              5010 non-null    object
 24  ClmProcedureCode_1               23310 non-null   float64
 25  ClmProcedureCode_2               5490 non-null    float64
 26  ClmProcedureCode_3               969 non-null     float64
 27  ClmProcedureCode_4               118 non-null     float64
 28  ClmProcedureCode_5               9 non-null       float64
 29  ClmProcedureCode_6               0 non-null       float64
 30  Claim_Period                     558211 non-null  int64
 31  Hospitalization_Duration         40474 non-null   float64
 32  ClaimStart_Year                  558211 non-null  int32
 33  ClaimStart_Month                 558211 non-null  int32
 34  ClaimEnd_Year                    558211 non-null  int32
 35  ClaimEnd_Month                   558211 non-null  int32
 36  Inpatient_or_Outpatient          558211 non-null  int64
 37  DOB                              558211 non-null  datetime64[ns]
 38  DOD                              4131 non-null    datetime64[ns]
 39  Gender                           558211 non-null  int64
 40  Race                             558211 non-null  int64
 41  RenalDiseaseIndicator            558211 non-null  object
 42  State                            558211 non-null  int64
 43  County                           558211 non-null  int64
 44  NoOfMonths_PartACov              558211 non-null  int64
 45  NoOfMonths_PartBCov              558211 non-null  int64
 46  ChronicCond_Alzheimer            558211 non-null  int64
 47  ChronicCond_Heartfailure         558211 non-null  int64
 48  ChronicCond_KidneyDisease        558211 non-null  int64
 49  ChronicCond_Cancer               558211 non-null  int64
 50  ChronicCond_ObstrPulmonary       558211 non-null  int64
 51  ChronicCond_Depression           558211 non-null  int64
 52  ChronicCond_Diabetes             558211 non-null  int64
 53  ChronicCond_IschemicHeart        558211 non-null  int64
 54  ChronicCond_Osteoporasis         558211 non-null  int64
 55  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 56  ChronicCond_stroke               558211 non-null  int64
 57  IPAnnualReimbursementAmt         558211 non-null  int64
 58  IPAnnualDeductibleAmt            558211 non-null  int64
 59  OPAnnualReimbursementAmt         558211 non-null  int64
 60  OPAnnualDeductibleAmt            558211 non-null  int64
 61  Patient_Age                      558211 non-null  float64
 62  Birth_Year                       558211 non-null  int32
 63  Birth_Month                      558211 non-null  int32
 64  isDead                           558211 non-null  int64
 65  PotentialFraud                   558211 non-null  object
dtypes: datetime64[ns](6), float64(9), int32(6), int64(25), object(20)
memory usage: 268.3+ MB

In [45]:
#list of columns containing null values
final_df.columns[final_df.isnull().any()].tolist()

['AttendingPhysician',
 'OperatingPhysician',
 'OtherPhysician',
 'AdmissionDt',
 'ClmAdmitDiagnosisCode',
 'DeductibleAmtPaid',
 'DischargeDt',
 'DiagnosisGroupCode',
 'ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_6',
 'ClmDiagnosisCode_7',
 'ClmDiagnosisCode_8',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_10',
 'ClmProcedureCode_1',
 'ClmProcedureCode_2',
 'ClmProcedureCode_3',
 'ClmProcedureCode_4',
 'ClmProcedureCode_5',
 'ClmProcedureCode_6',
 'Hospitalization_Duration',
 'DOD']

In [46]:
final_df = final_df.fillna(0).copy()

In [47]:
final_df.columns[final_df.isnull().any()].tolist()

[]

In [48]:
final_df.isna().sum().sum()

np.int64(0)

In [49]:
final_df.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'ClaimStart_Year', 'ClaimStart_Month', 'ClaimEnd_Year',
       'ClaimEnd_Month', 'Inpatient_or_Outpatient', 'DOB', 'DOD', 'Gender',
       'Race', 'RenalDiseaseIndicator', 'State', 'County',
       'NoOfMonths_PartACov', 'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Patient_Age',
       'Birth_Year', 'Birth_Month', 'isDead', 'PotentialFraud'],
      dtype='object')

In [50]:
#save original copy of final df
final_df_copy = final_df.copy()
final_df_copy

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead,PotentialFraud
0,BENE100000,CLM126832,2009-01-08,2009-01-08,PRV57172,50,PHY383401,0,0,0,...,0,0,0,120,30,87.0,1938,3,0,Yes
1,BENE100000,CLM351838,2009-05-10,2009-05-10,PRV57172,70,PHY370909,0,PHY363377,0,...,0,0,0,120,30,87.0,1938,3,0,Yes
2,BENE100001,CLM229075,2009-03-05,2009-03-05,PRV55158,70,PHY383478,0,0,0,...,1,0,0,2530,540,86.0,1939,8,0,No
3,BENE100001,CLM258631,2009-03-21,2009-03-21,PRV54966,70,PHY347511,0,0,0,...,1,0,0,2530,540,86.0,1939,8,0,Yes
4,BENE100001,CLM332544,2009-04-30,2009-05-02,PRV54890,90,PHY343317,PHY408367,PHY408367,0,...,1,0,0,2530,540,86.0,1939,8,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558206,BENE99999,CLM359214,2009-05-14,2009-05-14,PRV55826,80,PHY341548,0,0,0,...,0,0,0,1270,690,89.0,1936,5,0,No
558207,BENE99999,CLM475422,2009-07-17,2009-07-17,PRV54670,80,PHY351000,0,0,0,...,0,0,0,1270,690,89.0,1936,5,0,No
558208,BENE99999,CLM591853,2009-09-21,2009-09-21,PRV57336,30,PHY422310,PHY363262,0,0,...,0,0,0,1270,690,89.0,1936,5,0,No
558209,BENE99999,CLM712394,2009-12-03,2009-12-03,PRV51690,700,PHY379564,0,0,0,...,0,0,0,1270,690,89.0,1936,5,0,No
558210,BENE99999,CLM750563,2009-12-29,2009-12-29,PRV54670,50,PHY359641,0,0,0,...,0,0,0,1270,690,89.0,1936,5,0,No

In [51]:
#final_df_copy.to_csv("cleaned_dataset.csv", index=False)

In [52]:
#dropping Id and date columns ->'
final_df = final_df.drop(columns=['BeneID', 'ClaimID','AdmissionDt','DischargeDt','ClaimStartDt','ClaimEndDt','DischargeDt','ClaimStart_Year', 'ClaimStart_Month',
                                  'ClaimEnd_Year','ClaimEnd_Month','Birth_Year', 'Birth_Month','Provider', 'AttendingPhysician', 
                                  'OperatingPhysician', 'OtherPhysician','DOB','DOD'],axis=1)

In [53]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558211 entries, 0 to 558210
Data columns (total 48 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   InscClaimAmtReimbursed           558211 non-null  int64
 1   ClmAdmitDiagnosisCode            558211 non-null  object
 2   DeductibleAmtPaid                558211 non-null  float64
 3   DiagnosisGroupCode               558211 non-null  object
 4   ClmDiagnosisCode_1               558211 non-null  object
 5   ClmDiagnosisCode_2               558211 non-null  object
 6   ClmDiagnosisCode_3               558211 non-null  object
 7   ClmDiagnosisCode_4               558211 non-null  object
 8   ClmDiagnosisCode_5               558211 non-null  object
 9   ClmDiagnosisCode_6               558211 non-null  object
 10  ClmDiagnosisCode_7               558211 non-null  object
 11  ClmDiagnosisCode_8               558211 non-null  object
 12  ClmDiagnosisCode_9               558211 non-null  object
 13  ClmDiagnosisCode_10              558211 non-null  object
 14  ClmProcedureCode_1               558211 non-null  float64
 15  ClmProcedureCode_2               558211 non-null  float64
 16  ClmProcedureCode_3               558211 non-null  float64
 17  ClmProcedureCode_4               558211 non-null  float64
 18  ClmProcedureCode_5               558211 non-null  float64
 19  ClmProcedureCode_6               558211 non-null  float64
 20  Claim_Period                     558211 non-null  int64
 21  Hospitalization_Duration         558211 non-null  float64
 22  Inpatient_or_Outpatient          558211 non-null  int64
 23  Gender                           558211 non-null  int64
 24  Race                             558211 non-null  int64
 25  RenalDiseaseIndicator            558211 non-null  object
 26  State                            558211 non-null  int64
 27  County                           558211 non-null  int64
 28  NoOfMonths_PartACov              558211 non-null  int64
 29  NoOfMonths_PartBCov              558211 non-null  int64
 30  ChronicCond_Alzheimer            558211 non-null  int64
 31  ChronicCond_Heartfailure         558211 non-null  int64
 32  ChronicCond_KidneyDisease        558211 non-null  int64
 33  ChronicCond_Cancer               558211 non-null  int64
 34  ChronicCond_ObstrPulmonary       558211 non-null  int64
 35  ChronicCond_Depression           558211 non-null  int64
 36  ChronicCond_Diabetes             558211 non-null  int64
 37  ChronicCond_IschemicHeart        558211 non-null  int64
 38  ChronicCond_Osteoporasis         558211 non-null  int64
 39  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 40  ChronicCond_stroke               558211 non-null  int64
 41  IPAnnualReimbursementAmt         558211 non-null  int64
 42  IPAnnualDeductibleAmt            558211 non-null  int64
 43  OPAnnualReimbursementAmt         558211 non-null  int64
 44  OPAnnualDeductibleAmt            558211 non-null  int64
 45  Patient_Age                      558211 non-null  float64
 46  isDead                           558211 non-null  int64
 47  PotentialFraud                   558211 non-null  object
dtypes: float64(9), int64(25), object(14)
memory usage: 204.4+ MB

In [54]:
final_df.dtypes

InscClaimAmtReimbursed               int64
ClmAdmitDiagnosisCode               object
DeductibleAmtPaid                  float64
DiagnosisGroupCode                  object
ClmDiagnosisCode_1                  object
ClmDiagnosisCode_2                  object
ClmDiagnosisCode_3                  object
ClmDiagnosisCode_4                  object
ClmDiagnosisCode_5                  object
ClmDiagnosisCode_6                  object
ClmDiagnosisCode_7                  object
ClmDiagnosisCode_8                  object
ClmDiagnosisCode_9                  object
ClmDiagnosisCode_10                 object
ClmProcedureCode_1                 float64
ClmProcedureCode_2                 float64
ClmProcedureCode_3                 float64
ClmProcedureCode_4                 float64
ClmProcedureCode_5                 float64
ClmProcedureCode_6                 float64
Claim_Period                         int64
Hospitalization_Duration           float64
Inpatient_or_Outpatient              int64
Gender                               int64
Race                                 int64
RenalDiseaseIndicator               object
State                                int64
County                               int64
NoOfMonths_PartACov                  int64
NoOfMonths_PartBCov                  int64
ChronicCond_Alzheimer                int64
ChronicCond_Heartfailure             int64
ChronicCond_KidneyDisease            int64
ChronicCond_Cancer                   int64
ChronicCond_ObstrPulmonary           int64
ChronicCond_Depression               int64
ChronicCond_Diabetes                 int64
ChronicCond_IschemicHeart            int64
ChronicCond_Osteoporasis             int64
ChronicCond_rheumatoidarthritis      int64
ChronicCond_stroke                   int64
IPAnnualReimbursementAmt             int64
IPAnnualDeductibleAmt                int64
OPAnnualReimbursementAmt             int64
OPAnnualDeductibleAmt                int64
Patient_Age                        float64
isDead                               int64
PotentialFraud                      object
dtype: object

In [55]:
final_df[['ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10']]

,ClmAdmitDiagnosisCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10
0,0,79678,0,0,0,0,0,0,0,0,0
1,0,71656,0,0,0,0,0,0,0,0,0
2,64880,64881,0,0,0,0,0,0,0,0,0
3,36401,36401,V4569,0,0,0,0,0,0,0,0
4,78009,2948,4019,2989,78054,2875,78830,71596,V1251,7993,0
...,...,...,...,...,...,...,...,...,...,...,...
558206,V7283,V7282,V420,0,0,0,0,0,0,0,0
558207,0,V103,0,0,0,0,0,0,0,0,0
558208,0,185,0,0,0,0,0,0,0,0,0
558209,78720,71690,0,0,0,0,0,0,0,0,0
558210,7224,7234,0,0,0,0,0,0,0,0,0

In [56]:
object_columns = [col for col in final_df.columns if final_df[col].dtype == 'object']

print("Object columns:", object_columns)

Object columns: ['ClmAdmitDiagnosisCode', 'DiagnosisGroupCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'RenalDiseaseIndicator', 'PotentialFraud']

In [57]:
final_df=final_df.drop(columns=['DiagnosisGroupCode'],axis=1)

In [58]:
final_df['RenalDiseaseIndicator'] = pd.to_numeric(final_df['RenalDiseaseIndicator'], errors='coerce')  # Converts non-numeric to NaN
final_df['RenalDiseaseIndicator'] = final_df['RenalDiseaseIndicator'].fillna(0).astype(int)  # Fill NaN and convert to int

In [59]:
final_df['PotentialFraud'].value_counts()

PotentialFraud
No     345415
Yes    212796
Name: count, dtype: int64

In [60]:
final_df.PotentialFraud.replace(['Yes','No'],['1','0'],inplace=True)
final_df.PotentialFraud=final_df.PotentialFraud.astype('int64')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1340\217394409.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df.PotentialFraud.replace(['Yes','No'],['1','0'],inplace=True)

In [61]:
object_columns = [col for col in final_df.columns if final_df[col].dtype == 'object']

print("Object columns:", object_columns)

Object columns: ['ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10']

In [62]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558211 entries, 0 to 558210
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   InscClaimAmtReimbursed           558211 non-null  int64
 1   ClmAdmitDiagnosisCode            558211 non-null  object
 2   DeductibleAmtPaid                558211 non-null  float64
 3   ClmDiagnosisCode_1               558211 non-null  object
 4   ClmDiagnosisCode_2               558211 non-null  object
 5   ClmDiagnosisCode_3               558211 non-null  object
 6   ClmDiagnosisCode_4               558211 non-null  object
 7   ClmDiagnosisCode_5               558211 non-null  object
 8   ClmDiagnosisCode_6               558211 non-null  object
 9   ClmDiagnosisCode_7               558211 non-null  object
 10  ClmDiagnosisCode_8               558211 non-null  object
 11  ClmDiagnosisCode_9               558211 non-null  object
 12  ClmDiagnosisCode_10              558211 non-null  object
 13  ClmProcedureCode_1               558211 non-null  float64
 14  ClmProcedureCode_2               558211 non-null  float64
 15  ClmProcedureCode_3               558211 non-null  float64
 16  ClmProcedureCode_4               558211 non-null  float64
 17  ClmProcedureCode_5               558211 non-null  float64
 18  ClmProcedureCode_6               558211 non-null  float64
 19  Claim_Period                     558211 non-null  int64
 20  Hospitalization_Duration         558211 non-null  float64
 21  Inpatient_or_Outpatient          558211 non-null  int64
 22  Gender                           558211 non-null  int64
 23  Race                             558211 non-null  int64
 24  RenalDiseaseIndicator            558211 non-null  int64
 25  State                            558211 non-null  int64
 26  County                           558211 non-null  int64
 27  NoOfMonths_PartACov              558211 non-null  int64
 28  NoOfMonths_PartBCov              558211 non-null  int64
 29  ChronicCond_Alzheimer            558211 non-null  int64
 30  ChronicCond_Heartfailure         558211 non-null  int64
 31  ChronicCond_KidneyDisease        558211 non-null  int64
 32  ChronicCond_Cancer               558211 non-null  int64
 33  ChronicCond_ObstrPulmonary       558211 non-null  int64
 34  ChronicCond_Depression           558211 non-null  int64
 35  ChronicCond_Diabetes             558211 non-null  int64
 36  ChronicCond_IschemicHeart        558211 non-null  int64
 37  ChronicCond_Osteoporasis         558211 non-null  int64
 38  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 39  ChronicCond_stroke               558211 non-null  int64
 40  IPAnnualReimbursementAmt         558211 non-null  int64
 41  IPAnnualDeductibleAmt            558211 non-null  int64
 42  OPAnnualReimbursementAmt         558211 non-null  int64
 43  OPAnnualDeductibleAmt            558211 non-null  int64
 44  Patient_Age                      558211 non-null  float64
 45  isDead                           558211 non-null  int64
 46  PotentialFraud                   558211 non-null  int64
dtypes: float64(9), int64(27), object(11)
memory usage: 200.2+ MB

In [63]:
final_df.head(5)

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,PotentialFraud
0,50,0,0.0,79678,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
1,70,0,0.0,71656,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
2,70,64880,0.0,64881,0,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,0
3,70,36401,0.0,36401,V4569,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,1
4,90,78009,0.0,2948,4019,2989,78054,2875,78830,71596,...,1,0,1,0,0,2530,540,86.0,0,0

In [64]:
#Applying label encoding
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame
columns_to_encode = ['ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10']

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode each column
for col in columns_to_encode:
    final_df[col] = label_encoder.fit_transform(final_df[col].astype(str))

# Display the first few rows to verify encoding
final_df.head()

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,PotentialFraud
0,50,0,0.0,7419,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
1,70,0,0.0,6170,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
2,70,2365,0.0,5603,0,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,0
3,70,1216,0.0,3082,4984,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,1
4,90,2926,0.0,2118,1771,871,2929,609,2507,1922,...,1,0,1,0,0,2530,540,86.0,0,0

In [65]:
final_df.head(5)

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,PotentialFraud
0,50,0,0.0,7419,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
1,70,0,0.0,6170,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
2,70,2365,0.0,5603,0,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,0
3,70,1216,0.0,3082,4984,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,1
4,90,2926,0.0,2118,1771,871,2929,609,2507,1922,...,1,0,1,0,0,2530,540,86.0,0,0

In [66]:
final_df.columns

Index(['InscClaimAmtReimbursed', 'ClmAdmitDiagnosisCode', 'DeductibleAmtPaid',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'Inpatient_or_Outpatient', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Patient_Age', 'isDead', 'PotentialFraud'],
      dtype='object')

In [67]:
final_df.columns

Index(['InscClaimAmtReimbursed', 'ClmAdmitDiagnosisCode', 'DeductibleAmtPaid',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'Inpatient_or_Outpatient', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Patient_Age', 'isDead', 'PotentialFraud'],
      dtype='object')

In [68]:
final_df.PotentialFraud.isnull().any()

np.False_

# Data Pre-processing for Test dataset

In [69]:
test_benificary = '1f_yL9UpnO0X3NR2T6FozElFLr3ZvOZvQ'
test_inpatient='1Fo8-LvgqfoNH0jhFmZhPTuIOaZWB99jA'
test_outpatient='1dzHORJP9maThjYdS5_-gsXpp6w6S_ssz'
test_labels='1U2dY8cWJnL5hBf-5X4QVekFPGh6dk_Uw'

In [70]:
#reading benificary data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={test_benificary}"

df_test_benificary = pd.read_csv(download_url)

df_test_benificary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,...,2,1,2,1,1,2,0,0,1490,160
2,BENE11010,1936-07-01,NaN,2,1,0,41,30,12,12,...,2,1,1,1,2,2,0,0,1170,660
3,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,1938-04-01,NaN,2,1,Y,45,780,12,12,...,1,2,1,2,2,2,21260,2136,120,100

In [71]:
#reading inpatient data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={test_inpatient}"

df_test_inpatient = pd.read_csv(download_url)

df_test_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#reading outpatient data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={test_outpatient}"

df_test_outpatient = pd.read_csv(download_url)

df_test_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5939
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [73]:
#reading benificary data

# Construct the download URL
download_url = f"https://drive.google.com/uc?id={test_labels}"

df_test_label = pd.read_csv(download_url)

df_test_label.head()

   Provider
0  PRV51002
1  PRV51006
2  PRV51009
3  PRV51010
4  PRV51018

In [74]:
print('Benificary test dataset size: ',df_test_benificary.shape)
print('Inpatient test dataset size: ',df_test_inpatient.shape)
print('Outpatient test dataset size: ',df_test_outpatient.shape)
print('Label test dataset size: ',df_test_label.shape)

Benificary test dataset size:  (63968, 25)
Inpatient test dataset size:  (9551, 30)
Outpatient test dataset size:  (125841, 27)
Label test dataset size:  (1353, 1)

# Applying column tranformations

In [75]:
df_test_benificary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63968 entries, 0 to 63967
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           63968 non-null  object
 1   DOB                              63968 non-null  object
 2   DOD                              574 non-null    object
 3   Gender                           63968 non-null  int64
 4   Race                             63968 non-null  int64
 5   RenalDiseaseIndicator            63968 non-null  object
 6   State                            63968 non-null  int64
 7   County                           63968 non-null  int64
 8   NoOfMonths_PartACov              63968 non-null  int64
 9   NoOfMonths_PartBCov              63968 non-null  int64
 10  ChronicCond_Alzheimer            63968 non-null  int64
 11  ChronicCond_Heartfailure         63968 non-null  int64
 12  ChronicCond_KidneyDisease        63968 non-null  int64
 13  ChronicCond_Cancer               63968 non-null  int64
 14  ChronicCond_ObstrPulmonary       63968 non-null  int64
 15  ChronicCond_Depression           63968 non-null  int64
 16  ChronicCond_Diabetes             63968 non-null  int64
 17  ChronicCond_IschemicHeart        63968 non-null  int64
 18  ChronicCond_Osteoporasis         63968 non-null  int64
 19  ChronicCond_rheumatoidarthritis  63968 non-null  int64
 20  ChronicCond_stroke               63968 non-null  int64
 21  IPAnnualReimbursementAmt         63968 non-null  int64
 22  IPAnnualDeductibleAmt            63968 non-null  int64
 23  OPAnnualReimbursementAmt         63968 non-null  int64
 24  OPAnnualDeductibleAmt            63968 non-null  int64
dtypes: int64(21), object(4)
memory usage: 12.2+ MB

In [76]:
# Convert the datatype of DOB , DOD from object to datetime
df_test_benificary['DOB'] = pd.to_datetime(df_test_benificary['DOB'])
df_test_benificary['DOD'] = pd.to_datetime(df_test_benificary['DOD'])

In [77]:
df_test_benificary[['ChronicCond_Alzheimer', 'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
                           'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
                           'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
                           'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke']]

,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
0,1,2,1,2,2,1,1,1,2,1,1
1,1,1,2,2,2,2,1,2,1,1,2
2,2,1,2,1,1,2,1,1,1,2,2
3,2,1,1,2,2,1,1,2,2,1,1
4,2,1,1,2,1,1,2,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
63963,2,1,2,2,2,1,1,1,2,2,2
63964,2,2,2,2,2,2,2,2,2,2,2
63965,1,2,2,2,2,2,2,2,2,2,2
63966,2,1,1,1,2,1,1,1,2,2,2
63967,1,1,2,2,2,2,2,1,2,2,2

In [78]:
#Replacing 2 with 0 for chronic conditions, 0 indicates no chronic condition , 1 -> yes for chronic conditions
df_test_benificary = df_test_benificary.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2, 'ChronicCond_KidneyDisease': 2,
                           'ChronicCond_Cancer': 2, 'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2,
                           'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 'ChronicCond_Osteoporasis': 2,
                           'ChronicCond_rheumatoidarthritis': 2, 'ChronicCond_stroke': 2 }, 0)

In [79]:
df_test_benificary[['ChronicCond_Alzheimer', 'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
                           'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
                           'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
                           'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke']]

,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
0,1,0,1,0,0,1,1,1,0,1,1
1,1,1,0,0,0,0,1,0,1,1,0
2,0,1,0,1,1,0,1,1,1,0,0
3,0,1,1,0,0,1,1,0,0,1,1
4,0,1,1,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
63963,0,1,0,0,0,1,1,1,0,0,0
63964,0,0,0,0,0,0,0,0,0,0,0
63965,1,0,0,0,0,0,0,0,0,0,0
63966,0,1,1,1,0,1,1,1,0,0,0
63967,1,1,0,0,0,0,0,1,0,0,0

In [80]:
df_test_benificary['RenalDiseaseIndicator'].value_counts()

RenalDiseaseIndicator
0    53408
Y    10560
Name: count, dtype: int64

In [81]:
df_test_benificary=df_test_benificary.replace({"RenalDiseaseIndicator":"Y"},1)

In [82]:
#in the RenalDiseaseIndicator , replacing Y with 1
df_train_benificary['RenalDiseaseIndicator'].value_counts()

RenalDiseaseIndicator
0    118978
1     19578
Name: count, dtype: int64

In [83]:
df_test_benificary[["ChronicCond_Alzheimer", "ChronicCond_Heartfailure", "ChronicCond_KidneyDisease", "ChronicCond_Cancer", 
                     "ChronicCond_ObstrPulmonary", "ChronicCond_Depression", "ChronicCond_Diabetes", "ChronicCond_IschemicHeart", 
                     "ChronicCond_Osteoporasis", "ChronicCond_rheumatoidarthritis", "ChronicCond_stroke", 
                     "RenalDiseaseIndicator"]].apply(pd.to_numeric)

,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,RenalDiseaseIndicator
0,1,0,1,0,0,1,1,1,0,1,1,0
1,1,1,0,0,0,0,1,0,1,1,0,0
2,0,1,0,1,1,0,1,1,1,0,0,0
3,0,1,1,0,0,1,1,0,0,1,1,0
4,0,1,1,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
63963,0,1,0,0,0,1,1,1,0,0,0,0
63964,0,0,0,0,0,0,0,0,0,0,0,0
63965,1,0,0,0,0,0,0,0,0,0,0,0
63966,0,1,1,1,0,1,1,1,0,0,0,0
63967,1,1,0,0,0,0,0,1,0,0,0,0

In [84]:
df_test_benificary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63968 entries, 0 to 63967
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           63968 non-null  object
 1   DOB                              63968 non-null  datetime64[ns]
 2   DOD                              574 non-null    datetime64[ns]
 3   Gender                           63968 non-null  int64
 4   Race                             63968 non-null  int64
 5   RenalDiseaseIndicator            63968 non-null  object
 6   State                            63968 non-null  int64
 7   County                           63968 non-null  int64
 8   NoOfMonths_PartACov              63968 non-null  int64
 9   NoOfMonths_PartBCov              63968 non-null  int64
 10  ChronicCond_Alzheimer            63968 non-null  int64
 11  ChronicCond_Heartfailure         63968 non-null  int64
 12  ChronicCond_KidneyDisease        63968 non-null  int64
 13  ChronicCond_Cancer               63968 non-null  int64
 14  ChronicCond_ObstrPulmonary       63968 non-null  int64
 15  ChronicCond_Depression           63968 non-null  int64
 16  ChronicCond_Diabetes             63968 non-null  int64
 17  ChronicCond_IschemicHeart        63968 non-null  int64
 18  ChronicCond_Osteoporasis         63968 non-null  int64
 19  ChronicCond_rheumatoidarthritis  63968 non-null  int64
 20  ChronicCond_stroke               63968 non-null  int64
 21  IPAnnualReimbursementAmt         63968 non-null  int64
 22  IPAnnualDeductibleAmt            63968 non-null  int64
 23  OPAnnualReimbursementAmt         63968 non-null  int64
 24  OPAnnualDeductibleAmt            63968 non-null  int64
dtypes: datetime64[ns](2), int64(21), object(2)
memory usage: 12.2+ MB

In [85]:
df_test_benificary=df_test_benificary.replace({'Gender':2},0)

In [86]:
df_test_benificary.Gender.value_counts()

Gender
0    36721
1    27247
Name: count, dtype: int64

In [87]:
df_test_inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  9551 non-null   object
 1   ClaimID                 9551 non-null   object
 2   ClaimStartDt            9551 non-null   object
 3   ClaimEndDt              9551 non-null   object
 4   Provider                9551 non-null   object
 5   InscClaimAmtReimbursed  9551 non-null   int64
 6   AttendingPhysician      9520 non-null   object
 7   OperatingPhysician      5589 non-null   object
 8   OtherPhysician          1013 non-null   object
 9   AdmissionDt             9551 non-null   object
 10  ClmAdmitDiagnosisCode   9551 non-null   object
 11  DeductibleAmtPaid       9355 non-null   float64
 12  DischargeDt             9551 non-null   object
 13  DiagnosisGroupCode      9551 non-null   object
 14  ClmDiagnosisCode_1      9551 non-null   object
 15  ClmDiagnosisCode_2      9497 non-null   object
 16  ClmDiagnosisCode_3      9382 non-null   object
 17  ClmDiagnosisCode_4      9147 non-null   object
 18  ClmDiagnosisCode_5      8832 non-null   object
 19  ClmDiagnosisCode_6      8354 non-null   object
 20  ClmDiagnosisCode_7      7815 non-null   object
 21  ClmDiagnosisCode_8      7191 non-null   object
 22  ClmDiagnosisCode_9      6313 non-null   object
 23  ClmDiagnosisCode_10     887 non-null    object
 24  ClmProcedureCode_1      5433 non-null   float64
 25  ClmProcedureCode_2      1254 non-null   float64
 26  ClmProcedureCode_3      223 non-null    float64
 27  ClmProcedureCode_4      29 non-null     float64
 28  ClmProcedureCode_5      2 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 2.2+ MB

In [88]:
df_test_outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125841 entries, 0 to 125840
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  125841 non-null  object
 1   ClaimID                 125841 non-null  object
 2   ClaimStartDt            125841 non-null  object
 3   ClaimEndDt              125841 non-null  object
 4   Provider                125841 non-null  object
 5   InscClaimAmtReimbursed  125841 non-null  int64
 6   AttendingPhysician      125525 non-null  object
 7   OperatingPhysician      21604 non-null   object
 8   OtherPhysician          47619 non-null   object
 9   ClmDiagnosisCode_1      123263 non-null  object
 10  ClmDiagnosisCode_2      78110 non-null   object
 11  ClmDiagnosisCode_3      49266 non-null   object
 12  ClmDiagnosisCode_4      30470 non-null   object
 13  ClmDiagnosisCode_5      17966 non-null   object
 14  ClmDiagnosisCode_6      11806 non-null   object
 15  ClmDiagnosisCode_7      7970 non-null    object
 16  ClmDiagnosisCode_8      5531 non-null    object
 17  ClmDiagnosisCode_9      3563 non-null    object
 18  ClmDiagnosisCode_10     263 non-null     object
 19  ClmProcedureCode_1      34 non-null      float64
 20  ClmProcedureCode_2      9 non-null       float64
 21  ClmProcedureCode_3      2 non-null       float64
 22  ClmProcedureCode_4      0 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       125841 non-null  int64
 26  ClmAdmitDiagnosisCode   25805 non-null   object
dtypes: float64(6), int64(2), object(19)
memory usage: 25.9+ MB

In [89]:
#converting the claimStartDt, claimEndDt from object to date type in both dfs

#inpatient df
df_test_inpatient['ClaimStartDt'] = pd.to_datetime(df_test_inpatient['ClaimStartDt'])
df_test_inpatient['ClaimEndDt'] = pd.to_datetime(df_test_inpatient['ClaimEndDt'])

#outpatientdf
df_test_outpatient['ClaimStartDt'] = pd.to_datetime(df_test_outpatient['ClaimStartDt'])
df_test_outpatient['ClaimEndDt'] = pd.to_datetime(df_test_outpatient['ClaimEndDt'])

In [90]:
#converting AdmissionDt,DischargeDt from object to Datetype in inpatientdf
df_test_inpatient['AdmissionDt']=pd.to_datetime(df_test_inpatient['AdmissionDt'])
df_test_inpatient['DischargeDt']=pd.to_datetime(df_test_inpatient['DischargeDt'])

# Deriving calculated columns

In [91]:
df_test_inpatient['Claim_Period'] = ((df_test_inpatient['ClaimEndDt'] - df_test_inpatient['ClaimStartDt']).dt.days)+1

In [92]:
#hostipilization Duration
df_test_inpatient['Hospitalization_Duration'] = ((df_test_inpatient['DischargeDt'] - df_test_inpatient['AdmissionDt']).dt.days)+1

In [93]:
# derive month and year of claim start and claim end
df_test_inpatient['ClaimStart_Year'] = df_test_inpatient['ClaimStartDt'].dt.year
df_test_inpatient['ClaimStart_Month'] = df_test_inpatient['ClaimStartDt'].dt.month

df_test_inpatient['ClaimEnd_Year'] = df_test_inpatient['ClaimEndDt'].dt.year
df_test_inpatient['ClaimEnd_Month'] = df_test_inpatient['ClaimEndDt'].dt.month

In [94]:
# Calculate patient's age as of death
df_test_benificary['Patient_Age'] = round(((df_test_benificary['DOD'] - df_test_benificary['DOB']).dt.days) / 365)

# For alive patients (no DOD), calculate age as of 2025-06-05 and assign to missing values
df_test_benificary['Patient_Age'] = df_test_benificary['Patient_Age'].fillna(round(((pd.to_datetime('2025-06-05', format='%Y-%m-%d') - df_test_benificary['DOB']).dt.days) / 365))

In [95]:
df_test_benificary['Patient_Age']

0         82.0
1         69.0
2         89.0
3        111.0
4         87.0
         ...
63963     66.0
63964     89.0
63965     86.0
63966    109.0
63967     95.0
Name: Patient_Age, Length: 63968, dtype: float64

In [96]:
# derive the birth year and birth month from DOB in beneficary
df_test_benificary['Birth_Year'] = df_test_benificary['DOB'].dt.year
df_test_benificary['Birth_Month'] = df_test_benificary['DOB'].dt.month

In [97]:
#create a new column isDead for benificaries
df_test_benificary['isDead'] = 0
df_test_benificary.loc[df_test_benificary.DOD.notna(), 'isDead'] = 1

In [98]:
# getting the claim start and end year,month for outpatients
df_test_outpatient['ClaimStart_Year'] = df_test_outpatient['ClaimStartDt'].dt.year
df_test_outpatient['ClaimStart_Month'] = df_test_outpatient['ClaimStartDt'].dt.month

df_test_outpatient['ClaimEnd_Year'] = df_test_outpatient['ClaimEndDt'].dt.year
df_test_outpatient['ClaimEnd_Month'] = df_test_outpatient['ClaimEndDt'].dt.month

# Calculate Claim_Period = ClaimEndDt - ClaimStartDt
df_test_outpatient['Claim_Period'] = ((df_test_outpatient['ClaimEndDt'] - df_test_outpatient['ClaimStartDt']).dt.days)+1

# Create a new column Inpatient_or_Outpatient where Inpatient =1 and Outpatient = 0
df_test_inpatient['Inpatient_or_Outpatient'] = 1
df_test_outpatient['Inpatient_or_Outpatient'] = 0

In [99]:
#dataset sizes after adding new columns
print('Benificary dataset size after column transformation: ',df_test_benificary.shape)
print('Inpatient dataset size after column transformation: ',df_test_inpatient.shape)
print('Outpatient dataset size after column transformation: ',df_test_outpatient.shape)

Benificary dataset size after column transformation:  (63968, 29)
Inpatient dataset size after column transformation:  (9551, 37)
Outpatient dataset size after column transformation:  (125841, 33)

# Merge all datasets into single test dataset

In [100]:
#merge inpatient and outpatient datasets
common_cols = []
cols_in = df_test_inpatient.columns
for col in df_test_outpatient.columns:
    if col in cols_in:
        common_cols.append(col)

inpatient_outpatient_merged_test = pd.merge(df_test_inpatient, df_test_outpatient,
                                       left_on = common_cols, 
                                       right_on = common_cols,
                                       how = 'outer')

In [101]:
inpatient_outpatient_merged_test.shape

(135392, 37)

In [102]:
inpatient_outpatient_merged_test.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Claim_Period,Hospitalization_Duration,ClaimStart_Year,ClaimStart_Month,ClaimEnd_Year,ClaimEnd_Month,Inpatient_or_Outpatient
0,BENE100001,CLM129501,2009-01-10,2009-01-10,PRV52050,1100,PHY364771,NaN,NaN,NaT,...,NaN,NaN,NaN,1,NaN,2009,1,2009,1,0
1,BENE100002,CLM623189,2009-10-10,2009-10-10,PRV52083,60,PHY402651,NaN,PHY315572,NaT,...,NaN,NaN,NaN,1,NaN,2009,10,2009,10,0
2,BENE100004,CLM546697,2009-08-26,2009-09-15,PRV53275,1500,PHY364921,NaN,PHY364921,NaT,...,NaN,NaN,NaN,21,NaN,2009,8,2009,9,0
3,BENE100004,CLM63603,2009-08-12,2009-08-17,PRV52959,11000,PHY410241,NaN,NaN,2009-08-12,...,NaN,NaN,NaN,6,6.0,2009,8,2009,8,1
4,BENE100010,CLM299397,2009-04-12,2009-04-12,PRV52050,60,PHY342001,NaN,PHY359807,NaT,...,NaN,NaN,NaN,1,NaN,2009,4,2009,4,0

In [103]:
#merging with benificary df on beneid
inpatient_outpatient_benificary_merge_test = pd.merge(inpatient_outpatient_merged_test, df_test_benificary,
                                       left_on = 'BeneID', 
                                       right_on = 'BeneID',
                                       how = 'inner')

In [104]:
inpatient_outpatient_benificary_merge_test.shape

(135392, 65)

In [105]:
inpatient_outpatient_benificary_merge_test.head(5)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead
0,BENE100001,CLM129501,2009-01-10,2009-01-10,PRV52050,1100,PHY364771,NaN,NaN,NaT,...,0,1,0,0,2530,540,86.0,1939,8,0
1,BENE100002,CLM623189,2009-10-10,2009-10-10,PRV52083,60,PHY402651,NaN,PHY315572,NaT,...,0,1,12250,1068,1760,660,87.0,1938,9,0
2,BENE100004,CLM546697,2009-08-26,2009-09-15,PRV53275,1500,PHY364921,NaN,PHY364921,NaT,...,0,0,14270,2136,1880,700,82.0,1943,6,0
3,BENE100004,CLM63603,2009-08-12,2009-08-17,PRV52959,11000,PHY410241,NaN,NaN,2009-08-12,...,0,0,14270,2136,1880,700,82.0,1943,6,0
4,BENE100010,CLM299397,2009-04-12,2009-04-12,PRV52050,60,PHY342001,NaN,PHY359807,NaT,...,1,0,13400,2136,1050,760,98.0,1927,10,0

In [106]:
final_test_df = pd.merge(
    inpatient_outpatient_benificary_merge_test,df_test_label,
    on="Provider",
    how="inner"
)

In [107]:
final_test_df.shape

(135392, 65)

In [108]:
final_test_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead
0,BENE100001,CLM129501,2009-01-10,2009-01-10,PRV52050,1100,PHY364771,NaN,NaN,NaT,...,0,1,0,0,2530,540,86.0,1939,8,0
1,BENE100002,CLM623189,2009-10-10,2009-10-10,PRV52083,60,PHY402651,NaN,PHY315572,NaT,...,0,1,12250,1068,1760,660,87.0,1938,9,0
2,BENE100004,CLM546697,2009-08-26,2009-09-15,PRV53275,1500,PHY364921,NaN,PHY364921,NaT,...,0,0,14270,2136,1880,700,82.0,1943,6,0
3,BENE100004,CLM63603,2009-08-12,2009-08-17,PRV52959,11000,PHY410241,NaN,NaN,2009-08-12,...,0,0,14270,2136,1880,700,82.0,1943,6,0
4,BENE100010,CLM299397,2009-04-12,2009-04-12,PRV52050,60,PHY342001,NaN,PHY359807,NaT,...,1,0,13400,2136,1050,760,98.0,1927,10,0

In [109]:
final_test_df.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'ClaimStart_Year', 'ClaimStart_Month', 'ClaimEnd_Year',
       'ClaimEnd_Month', 'Inpatient_or_Outpatient', 'DOB', 'DOD', 'Gender',
       'Race', 'RenalDiseaseIndicator', 'State', 'County',
       'NoOfMonths_PartACov', 'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Patient_Age',
       'Birth_Year', 'Birth_Month', 'isDead'],
      dtype='object')

In [110]:
final_test_df['TotalReimbursement'] = final_test_df['IPAnnualReimbursementAmt'] + final_test_df['OPAnnualReimbursementAmt']

In [111]:
final_test_df['TotalDeductible'] = final_test_df['IPAnnualDeductibleAmt'] + final_test_df['OPAnnualDeductibleAmt']

# Data cleaning on final test

In [112]:
final_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135392 entries, 0 to 135391
Data columns (total 67 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           135392 non-null  object
 1   ClaimID                          135392 non-null  object
 2   ClaimStartDt                     135392 non-null  datetime64[ns]
 3   ClaimEndDt                       135392 non-null  datetime64[ns]
 4   Provider                         135392 non-null  object
 5   InscClaimAmtReimbursed           135392 non-null  int64
 6   AttendingPhysician               135045 non-null  object
 7   OperatingPhysician               27193 non-null   object
 8   OtherPhysician                   48632 non-null   object
 9   AdmissionDt                      9551 non-null    datetime64[ns]
 10  ClmAdmitDiagnosisCode            35356 non-null   object
 11  DeductibleAmtPaid                135196 non-null  float64
 12  DischargeDt                      9551 non-null    datetime64[ns]
 13  DiagnosisGroupCode               9551 non-null    object
 14  ClmDiagnosisCode_1               132814 non-null  object
 15  ClmDiagnosisCode_2               87607 non-null   object
 16  ClmDiagnosisCode_3               58648 non-null   object
 17  ClmDiagnosisCode_4               39617 non-null   object
 18  ClmDiagnosisCode_5               26798 non-null   object
 19  ClmDiagnosisCode_6               20160 non-null   object
 20  ClmDiagnosisCode_7               15785 non-null   object
 21  ClmDiagnosisCode_8               12722 non-null   object
 22  ClmDiagnosisCode_9               9876 non-null    object
 23  ClmDiagnosisCode_10              1150 non-null    object
 24  ClmProcedureCode_1               5467 non-null    float64
 25  ClmProcedureCode_2               1263 non-null    float64
 26  ClmProcedureCode_3               225 non-null     float64
 27  ClmProcedureCode_4               29 non-null      float64
 28  ClmProcedureCode_5               2 non-null       float64
 29  ClmProcedureCode_6               0 non-null       float64
 30  Claim_Period                     135392 non-null  int64
 31  Hospitalization_Duration         9551 non-null    float64
 32  ClaimStart_Year                  135392 non-null  int32
 33  ClaimStart_Month                 135392 non-null  int32
 34  ClaimEnd_Year                    135392 non-null  int32
 35  ClaimEnd_Month                   135392 non-null  int32
 36  Inpatient_or_Outpatient          135392 non-null  int64
 37  DOB                              135392 non-null  datetime64[ns]
 38  DOD                              1040 non-null    datetime64[ns]
 39  Gender                           135392 non-null  int64
 40  Race                             135392 non-null  int64
 41  RenalDiseaseIndicator            135392 non-null  object
 42  State                            135392 non-null  int64
 43  County                           135392 non-null  int64
 44  NoOfMonths_PartACov              135392 non-null  int64
 45  NoOfMonths_PartBCov              135392 non-null  int64
 46  ChronicCond_Alzheimer            135392 non-null  int64
 47  ChronicCond_Heartfailure         135392 non-null  int64
 48  ChronicCond_KidneyDisease        135392 non-null  int64
 49  ChronicCond_Cancer               135392 non-null  int64
 50  ChronicCond_ObstrPulmonary       135392 non-null  int64
 51  ChronicCond_Depression           135392 non-null  int64
 52  ChronicCond_Diabetes             135392 non-null  int64
 53  ChronicCond_IschemicHeart        135392 non-null  int64
 54  ChronicCond_Osteoporasis         135392 non-null  int64
 55  ChronicCond_rheumatoidarthritis  135392 non-null  int64
 56  ChronicCond_stroke               135392 non-null  int64
 57  IPAnnualReimbursementAmt         135392 non-null  int64
 58  IPAnnualDeductibleAmt            135392 non-null  int64
 59  OPAnnualReimbursementAmt         135392 non-null  int64
 60  OPAnnualDeductibleAmt            135392 non-null  int64
 61  Patient_Age                      135392 non-null  float64
 62  Birth_Year                       135392 non-null  int32
 63  Birth_Month                      135392 non-null  int32
 64  isDead                           135392 non-null  int64
 65  TotalReimbursement               135392 non-null  int64
 66  TotalDeductible                  135392 non-null  int64
dtypes: datetime64[ns](6), float64(9), int32(6), int64(27), object(19)
memory usage: 66.1+ MB

In [113]:
#list of columns containing null values
final_test_df.columns[final_test_df.isnull().any()].tolist()

['AttendingPhysician',
 'OperatingPhysician',
 'OtherPhysician',
 'AdmissionDt',
 'ClmAdmitDiagnosisCode',
 'DeductibleAmtPaid',
 'DischargeDt',
 'DiagnosisGroupCode',
 'ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_6',
 'ClmDiagnosisCode_7',
 'ClmDiagnosisCode_8',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_10',
 'ClmProcedureCode_1',
 'ClmProcedureCode_2',
 'ClmProcedureCode_3',
 'ClmProcedureCode_4',
 'ClmProcedureCode_5',
 'ClmProcedureCode_6',
 'Hospitalization_Duration',
 'DOD']

In [114]:
final_test_df = final_test_df.fillna(0).copy()

In [115]:
final_test_df.columns[final_test_df.isnull().any()].tolist()

[]

In [116]:
#save copy 
final_test_df_copy = final_test_df.copy()
final_test_df_copy

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,Birth_Year,Birth_Month,isDead,TotalReimbursement,TotalDeductible
0,BENE100001,CLM129501,2009-01-10,2009-01-10,PRV52050,1100,PHY364771,0,0,0,...,0,0,2530,540,86.0,1939,8,0,2530,540
1,BENE100002,CLM623189,2009-10-10,2009-10-10,PRV52083,60,PHY402651,0,PHY315572,0,...,12250,1068,1760,660,87.0,1938,9,0,14010,1728
2,BENE100004,CLM546697,2009-08-26,2009-09-15,PRV53275,1500,PHY364921,0,PHY364921,0,...,14270,2136,1880,700,82.0,1943,6,0,16150,2836
3,BENE100004,CLM63603,2009-08-12,2009-08-17,PRV52959,11000,PHY410241,0,0,2009-08-12 00:00:00,...,14270,2136,1880,700,82.0,1943,6,0,16150,2836
4,BENE100010,CLM299397,2009-04-12,2009-04-12,PRV52050,60,PHY342001,0,PHY359807,0,...,13400,2136,1050,760,98.0,1927,10,0,14450,2896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135387,BENE99996,CLM568486,2009-09-08,2009-09-08,PRV54650,600,PHY339956,0,0,0,...,0,0,600,200,88.0,1937,2,0,600,200
135388,BENE99997,CLM535262,2009-08-20,2009-08-20,PRV53856,100,PHY359055,0,PHY359055,0,...,0,0,1570,490,96.0,1929,7,0,1570,490
135389,BENE99999,CLM163521,2009-01-28,2009-01-28,PRV54663,40,PHY340366,0,0,0,...,0,0,1270,690,89.0,1936,5,0,1270,690
135390,BENE99999,CLM487998,2009-07-24,2009-07-24,PRV54663,30,PHY319016,0,0,0,...,0,0,1270,690,89.0,1936,5,0,1270,690
135391,BENE99999,CLM603683,2009-09-28,2009-09-30,PRV54659,200,PHY402050,0,0,0,...,0,0,1270,690,89.0,1936,5,0,1270,690

In [117]:
final_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135392 entries, 0 to 135391
Data columns (total 67 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           135392 non-null  object
 1   ClaimID                          135392 non-null  object
 2   ClaimStartDt                     135392 non-null  datetime64[ns]
 3   ClaimEndDt                       135392 non-null  datetime64[ns]
 4   Provider                         135392 non-null  object
 5   InscClaimAmtReimbursed           135392 non-null  int64
 6   AttendingPhysician               135392 non-null  object
 7   OperatingPhysician               135392 non-null  object
 8   OtherPhysician                   135392 non-null  object
 9   AdmissionDt                      135392 non-null  object
 10  ClmAdmitDiagnosisCode            135392 non-null  object
 11  DeductibleAmtPaid                135392 non-null  float64
 12  DischargeDt                      135392 non-null  object
 13  DiagnosisGroupCode               135392 non-null  object
 14  ClmDiagnosisCode_1               135392 non-null  object
 15  ClmDiagnosisCode_2               135392 non-null  object
 16  ClmDiagnosisCode_3               135392 non-null  object
 17  ClmDiagnosisCode_4               135392 non-null  object
 18  ClmDiagnosisCode_5               135392 non-null  object
 19  ClmDiagnosisCode_6               135392 non-null  object
 20  ClmDiagnosisCode_7               135392 non-null  object
 21  ClmDiagnosisCode_8               135392 non-null  object
 22  ClmDiagnosisCode_9               135392 non-null  object
 23  ClmDiagnosisCode_10              135392 non-null  object
 24  ClmProcedureCode_1               135392 non-null  float64
 25  ClmProcedureCode_2               135392 non-null  float64
 26  ClmProcedureCode_3               135392 non-null  float64
 27  ClmProcedureCode_4               135392 non-null  float64
 28  ClmProcedureCode_5               135392 non-null  float64
 29  ClmProcedureCode_6               135392 non-null  float64
 30  Claim_Period                     135392 non-null  int64
 31  Hospitalization_Duration         135392 non-null  float64
 32  ClaimStart_Year                  135392 non-null  int32
 33  ClaimStart_Month                 135392 non-null  int32
 34  ClaimEnd_Year                    135392 non-null  int32
 35  ClaimEnd_Month                   135392 non-null  int32
 36  Inpatient_or_Outpatient          135392 non-null  int64
 37  DOB                              135392 non-null  datetime64[ns]
 38  DOD                              135392 non-null  object
 39  Gender                           135392 non-null  int64
 40  Race                             135392 non-null  int64
 41  RenalDiseaseIndicator            135392 non-null  object
 42  State                            135392 non-null  int64
 43  County                           135392 non-null  int64
 44  NoOfMonths_PartACov              135392 non-null  int64
 45  NoOfMonths_PartBCov              135392 non-null  int64
 46  ChronicCond_Alzheimer            135392 non-null  int64
 47  ChronicCond_Heartfailure         135392 non-null  int64
 48  ChronicCond_KidneyDisease        135392 non-null  int64
 49  ChronicCond_Cancer               135392 non-null  int64
 50  ChronicCond_ObstrPulmonary       135392 non-null  int64
 51  ChronicCond_Depression           135392 non-null  int64
 52  ChronicCond_Diabetes             135392 non-null  int64
 53  ChronicCond_IschemicHeart        135392 non-null  int64
 54  ChronicCond_Osteoporasis         135392 non-null  int64
 55  ChronicCond_rheumatoidarthritis  135392 non-null  int64
 56  ChronicCond_stroke               135392 non-null  int64
 57  IPAnnualReimbursementAmt         135392 non-null  int64
 58  IPAnnualDeductibleAmt            135392 non-null  int64
 59  OPAnnualReimbursementAmt         135392 non-null  int64
 60  OPAnnualDeductibleAmt            135392 non-null  int64
 61  Patient_Age                      135392 non-null  float64
 62  Birth_Year                       135392 non-null  int32
 63  Birth_Month                      135392 non-null  int32
 64  isDead                           135392 non-null  int64
 65  TotalReimbursement               135392 non-null  int64
 66  TotalDeductible                  135392 non-null  int64
dtypes: datetime64[ns](3), float64(9), int32(6), int64(27), object(22)
memory usage: 66.1+ MB

In [118]:
final_test_df.to_csv('cleaned_data_test.csv', index=False)

# Data pre-processing for test dataset

In [119]:
#dropping Id and date columns ->'
final_test_df = final_test_df.drop(columns=['BeneID', 'ClaimID','AdmissionDt','DischargeDt','ClaimStartDt','ClaimEndDt','DischargeDt','ClaimStart_Year', 'ClaimStart_Month',
                                  'ClaimEnd_Year','ClaimEnd_Month','Birth_Year', 'Birth_Month','Provider', 'AttendingPhysician', 
                                  'OperatingPhysician', 'OtherPhysician','DOB','DOD'],axis=1)

In [120]:
final_test_df[['ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 
          'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10']]

,ClmAdmitDiagnosisCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10
0,0,V074,0,0,0,0,0,0,0,0,0
1,0,V5867,0,0,0,0,0,0,0,0,0
2,0,V5631,28521,2809,0,0,0,0,0,0,0
3,0539,69514,4280,5856,72888,2724,25000,0389,260,0,0
4,V7283,V704,61800,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
135387,0,53500,0,0,0,0,0,0,0,0,0
135388,0,V7241,0,0,0,0,0,0,0,0,0
135389,0,V103,0,0,0,0,0,0,0,0,0
135390,0,185,4589,5968,V725,60000,79093,0,0,0,0
135391,0,V5781,73313,7804,0,0,0,0,0,0,0

In [121]:
#Applying label encoding
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame
columns_to_encode = ['ClmAdmitDiagnosisCode', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10']

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode each column
for col in columns_to_encode:
    final_test_df[col] = label_encoder.fit_transform(final_test_df[col].astype(str))

# Display the first few rows to verify encoding
final_test_df.head()

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,TotalReimbursement,TotalDeductible
0,1100,0,0.0,0,7577,0,0,0,0,0,...,0,1,0,0,2530,540,86.0,0,2530,540
1,60,0,0.0,0,8051,0,0,0,0,0,...,0,1,12250,1068,1760,660,87.0,0,14010,1728
2,1500,0,200.0,0,8021,569,475,0,0,0,...,0,0,14270,2136,1880,700,82.0,0,16150,2836
3,11000,32,1068.0,579,4691,1271,1525,1767,322,191,...,0,0,14270,2136,1880,700,82.0,0,16150,2836
4,60,2598,0.0,0,8179,1861,0,0,0,0,...,1,0,13400,2136,1050,760,98.0,0,14450,2896

In [122]:
object_columns = [col for col in final_test_df.columns if final_test_df[col].dtype == 'object']

print("Object columns:", object_columns)

Object columns: ['DiagnosisGroupCode', 'RenalDiseaseIndicator']

In [123]:
final_test_df=final_test_df.drop(columns=['DiagnosisGroupCode'],axis=1)

In [124]:
final_test_df['RenalDiseaseIndicator'] = pd.to_numeric(final_test_df['RenalDiseaseIndicator'], errors='coerce')  # Converts non-numeric to NaN
final_test_df['RenalDiseaseIndicator'] = final_test_df['RenalDiseaseIndicator'].fillna(0).astype(int)  # Fill NaN and convert to int

In [125]:
object_columns = [col for col in final_test_df.columns if final_test_df[col].dtype == 'object']

print("Object columns:", object_columns)

Object columns: []

In [126]:
from sklearn.preprocessing import StandardScaler

# Identify numeric columns
numeric_cols = final_test_df.select_dtypes(include=['int64', 'float64']).columns

# Apply StandardScaler only to the selected numeric columns
scaler = StandardScaler()
final_test_df[numeric_cols] = scaler.fit_transform(final_test_df[numeric_cols])

In [127]:
final_test_df

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,TotalReimbursement,TotalDeductible
0,0.031332,-0.518765,-0.282295,1.341770,-0.961698,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,2.926133,-0.448750,-0.474533,0.063424,-0.105539,-0.244813,-0.087982,-0.384009,-0.408478
1,-0.243207,-0.518765,-0.282295,1.539201,-0.961698,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,2.926133,0.594140,0.406732,-0.129756,0.014780,-0.167687,-0.087982,0.494459,0.304797
2,0.136924,-0.518765,0.456809,1.526705,-0.478492,-0.184208,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,-0.341748,0.766111,1.287997,-0.099650,0.054886,-0.553313,-0.087982,0.658215,0.970040
3,2.644736,-0.476181,3.664517,0.139694,0.117660,0.916105,1.884230,0.180987,0.106825,-0.259242,...,-0.670401,-0.341748,0.766111,1.287997,-0.099650,0.054886,-0.553313,-0.087982,0.658215,0.970040
4,-0.243207,2.938483,-0.282295,1.592515,0.618700,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,1.491644,-0.341748,0.692044,1.287997,-0.307883,0.115045,0.680688,-0.087982,0.528129,1.006064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135387,-0.100658,-0.518765,-0.282295,-0.180193,-0.961698,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,-0.341748,-0.448750,-0.474533,-0.420780,-0.446442,-0.090562,-0.087982,-0.531696,-0.612614
135388,-0.232648,-0.518765,-0.282295,1.603345,-0.961698,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,1.491644,-0.341748,-0.448750,-0.474533,-0.177424,-0.155672,0.526438,-0.087982,-0.457470,-0.438498
135389,-0.248487,-0.518765,-0.282295,1.353016,-0.961698,-0.681969,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,-0.341748,-0.448750,-0.474533,-0.252688,0.044859,-0.013437,-0.087982,-0.480426,-0.318418
135390,-0.251126,-0.518765,-0.282295,-1.545129,0.248440,0.958022,3.228541,1.824514,3.334980,-0.301269,...,-0.670401,-0.341748,-0.448750,-0.474533,-0.252688,0.044859,-0.013437,-0.087982,-0.480426,-0.318418
135391,-0.206250,-0.518765,-0.282295,1.530454,1.008492,1.542759,-0.520018,-0.410315,-0.344550,-0.301269,...,-0.670401,-0.341748,-0.448750,-0.474533,-0.252688,0.044859,-0.013437,-0.087982,-0.480426,-0.318418

In [128]:
final_df

,InscClaimAmtReimbursed,ClmAdmitDiagnosisCode,DeductibleAmtPaid,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Patient_Age,isDead,PotentialFraud
0,50,0,0.0,7419,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
1,70,0,0.0,6170,0,0,0,0,0,0,...,0,0,0,0,0,120,30,87.0,0,1
2,70,2365,0.0,5603,0,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,0
3,70,1216,0.0,3082,4984,0,0,0,0,0,...,1,0,1,0,0,2530,540,86.0,0,1
4,90,2926,0.0,2118,1771,871,2929,609,2507,1922,...,1,0,1,0,0,2530,540,86.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558206,80,4057,0.0,10291,4936,0,0,0,0,0,...,1,0,0,0,0,1270,690,89.0,0,0
558207,80,0,0.0,9612,0,0,0,0,0,0,...,1,0,0,0,0,1270,690,89.0,0,0
558208,30,0,0.0,960,0,0,0,0,0,0,...,1,0,0,0,0,1270,690,89.0,0,0
558209,700,3031,0.0,6193,0,0,0,0,0,0,...,1,0,0,0,0,1270,690,89.0,0,0
558210,50,2674,0.0,6448,0,0,0,0,0,0,...,1,0,0,0,0,1270,690,89.0,0,0

# ML Model Development

In [129]:
final_df.columns

Index(['InscClaimAmtReimbursed', 'ClmAdmitDiagnosisCode', 'DeductibleAmtPaid',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'Inpatient_or_Outpatient', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Patient_Age', 'isDead', 'PotentialFraud'],
      dtype='object')

In [130]:
final_test_df.columns

Index(['InscClaimAmtReimbursed', 'ClmAdmitDiagnosisCode', 'DeductibleAmtPaid',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'Claim_Period', 'Hospitalization_Duration',
       'Inpatient_or_Outpatient', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'Patient_Age', 'isDead', 'TotalReimbursement',
       'TotalDeductible'],
      dtype='object')